/UnitOf-Examples/Java/build/
/UnitOf-Examples/Java/nbproject/private/
/UnitOf-Examples/JavaScript/UnitOfExamples/.idea/
/UnitOf-SourceCode/C#/UnitOfCompiler/obj/
/UnitOf-SourceCode/Java/nbproject/private/
/UnitOf-SourceCode/Java/build/